myenv/
venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.env
.env.*

.git/
.gitignore
.vscode/
.DS_Store

.pytest_cache/
.mypy_cache/
.coverage

staticfiles/
media/

*.sqlite3
db.sqlite3
celerybeat-schedule*

.venv/
winenv/

# Face models are downloaded during the image build
models/